<div class="mt-6">
    <h3 class="text-xl text-dark-green ml-4">Choose time slot</h3>
    <div class="p-4 bg-white rounded-md mt-4">
        <div class="w-full grid grid-cols-3">
            <button class="border-b-2 border-b-light-green text-center border-opacity-20 p-3 text-dark-green text-sm">
                Breakfast
            </button>
            <button class="border-b-2 border-b-light-green text-center p-3 text-dark-green text-sm">
                Lunch
            </button>
            <button class="border-b-2 border-b-light-green text-center border-opacity-20 p-3 text-dark-green text-sm">
                Dinner
            </button>
        </div>
        <div class="w-full grid grid-cols-4 gap-2 py-4">
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
            <button class="p-2 text-xs text-info border border-info rounded-md">
                7:00 AM
            </button>
        </div>
    </div>
</div>
