<section class="bg-primary">
  <div
    class="max-w-[1440px] mx-auto flex items-center justify-center flex-col py-16"
  >
    <div class="text-white font-bold font-daughter text-4xl">ReserveBite</div>
    <div class="text-white font-extralight font-daughter text-xl mt-2">
      Connect with Us and Explore
    </div>
    <div class="flex items-center gap-4 mt-4">
      <img width="40" src="assets/icons/x.svg" alt="" />
      <img width="40" src="assets/icons/instagram.svg" alt="" />
      <img width="40" src="assets/icons/linkedin.svg" alt="" />
    </div>
  </div>
</section>
