<div class="rounded-md border border-gray-200 mt-2 w-full relative">
    <div class="flex items-center p-2 justify-between cursor-pointer" (click)="toggle()">
        <span
                class="w-full px-2 text-gray-700 select-none "
        >
            {{displayedText()}}
        </span>
        <img [src]="selectIcon" alt="">
    </div>
        @if(displayed()) {
            <ul class="absolute top-12 left-0 bg-white w-full shadow rounded-md">
                @for (item of items; track item.value) {
                    <li class="p-2 cursor-pointer hover:bg-gray-100" (click)="selectItem(item)">
                        {{item.text}}
                    </li>
                }
            </ul>
        }
</div>
