<div class="bg-white rounded-md p-4">
  <div class="flex w-full justify-between">
    <div class="flex items-center gap-4">
      <div><img [src]="review().author.avatar?.url" alt="" /></div>
      <div>
        <span>{{ review().author.name }}</span>
        <app-rating [rating]="review().rating" />
      </div>
    </div>
    <div>
      <button>
        <img src="assets/icons/more.svg" alt="" />
      </button>
    </div>
  </div>
  <p class="text-gray-500 mt-4 text-sm">
    {{ review().text }}
  </p>
  <app-review-gallery [gallery]="review().gallery" />
</div>
