<div class="bg-white">
  <div class="max-w-[1440px] mx-auto px-10 py-5">
    <div class="flex items-center justify-between">
      <div>
        <a routerLink="/">
          <img src="../../../../assets/icons/logo.png" alt="" />
        </a>
      </div>
      <div
        class="px-3 py-3 border border-gray-200 rounded-md max-w-[425px] w-full"
      >
        <input
          type="text"
          class="outline-none w-full"
          placeholder="Search restaurant and cuisines..."
        />
      </div>
      <div class="flex items-center gap-3">
        <div class="p-2 border border-gray-200 rounded-md min-w-[200px] w-full">
          <div class="flex justify-between">
            <div class="flex">
              <img src="../../../../assets/icons/location.svg" alt="" />
              <div class="flex flex-col ml-2">
                <span class="text-xs"> Your location </span>
                <span class="text-sm"> Varanasi </span>
              </div>
            </div>

            <img src="../../../../assets/icons/arrow-down.svg" alt="" />
          </div>
        </div>
        <div class="flex gap-2 item">
          <app-notifications />
          <a
            routerLink="/profile"
            class="flex items-center justify-center w-12 h-12 bg-primary rounded-md cursor-pointer"
          >
            <img src="../../../../assets/icons/essentials.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
