<div class="mt-6">
    <h3 class="text-dark-green text-xl ml-4">Booking details</h3>
    <div class="rounded-md bg-white p-4 mt-4">
        <div class="flex flex-col gap-4">
            <span class="text-gray-700">Choose number of guest:</span>
            <app-form-select label="2 person" icon="assets/icons/user.svg"/>
        </div>
        <div class="flex flex-col gap-4 mt-4">
            <span class="text-gray-700">Enter guest name:</span>
            <app-text-field label="Name for person who is booking"/>
        </div>
        <div class="flex flex-col gap-4 mt-4">
            <span class="text-gray-700">Enter phone detail:</span>
            <app-text-field label="Mobile number"/>
        </div>
        <button class="flex gap-2 mt-4">
            <img src="assets/icons/add-circle.svg" alt="">
            <span class="text-light-green">
                Add any special request (Optional)
            </span>
        </button>
    </div>
</div>
